<div class="notification-actions">
  <div class = "follow-button-user">
    <% if current_user.is_following?(user.id) %>
      <%= link_to "Unfollow", unfollow_user_path(user.id), method: :post, remote: true %>
    <% else %>
      <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true %>
    <% end %>
  </div>
</div>
<p>Follows <%= link_to @followings_count, friend_list_dashboard_path(user, friend_type: "follows")%>
Followers <%= link_to @followers_count, friend_list_dashboard_path(user, friend_type: "followers")%></p>
