.container-checkins-index{
  height: 100%;
  width: 100vw;
  position: relative;
  .checkin{
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
  }
}
.timeline{
  padding: 0px;
  margin: auto 0;
  .timeline-icon{
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    color: white;
    z-index: 1;
    background: #1C1E24;
  }
  .timeline-icon:after{
    content: '';
    width: 18px;
    height: 1px;
    background: #ddd;
    position: absolute;
    z-index: -1;
    top: 15px;
  }
}
.container-checkins-index:after{
  content: '';
  width: 1px;
  height: 100%;
  background: #ddd;
  z-index: -1;
  position: absolute;
  left: 5%;
  top: 0;
}

.nav-link {
  color:white;
  &:hover{
  color: white;
  }
 }
