.checkin-form{
  color: white;
  text-align: center;
  margin-top: 25px;
  .btn-primary{
    border-radius: 11px;
    background-color: #983ad0;
    border-color: #ffffff;
  }
  .form-control{
    opacity: .7;
    border-radius: 6px;

  }
}
