// Specific CSS for your home-page
.home-container h1 {
  text-align: center;
  color: white;
  padding: 20px
}
.home-container {
  background-color: black;
  height: 100vh;
}
.home-container p {
  color: white;
  margin: 20px;
  font-size: 26px;
  height: 117px;
}
.home-container img {
  margin: 40px;
}
.home-container a {
  color: white;
  background-color: #8044E5;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
  border: 2px;
  border-radius: 20px;
  height: 40px;
  font-size: 24px;

}
