.place-details{
  display: flex;
  color: white;
  align-items: center;
  margin: 7px;
  justify-content: space-between;
  flex-wrap: wrap;
  .place-details-left{
    display: flex;
    flex-direction: column;
    width: 85%;
    .place-details-left-content{
      display: flex;
    }
  }
  .create-checkin-button{
    height: 45px;
  }
  p{
    font-size: 18px;
    font-weight: 100;

  }
}
.container-place-page{
  background-color: #0B0B0F;
  .check-in-container{
    text-align: center;
  }
}

  .icon-barwrap{
    height: 20px;
    color: white;
    margin-right: 3px;

  }
.how-many-type-music{
  margin: 5px;
  display: flex;
  text-align: center;
}
.tonight-checkins{
  text-align: center;
  margin-bottom: 20px;
  .checkin{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h2{
      font-weight: 400;
  }
  p{
    color: white;
  }
}
.checkins-history{
  .checkin{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  h2{
      font-weight: 400;
  }
}
