.place-details{
  display: flex;
  color: white;
  align-items: center;
  margin: 7px;
  justify-content: space-between;
  flex-wrap: wrap;
  .place-details-left{
    display: flex;
    flex-direction: column;
    width: 85%;
    .place-details-left-content{
      display: flex;
    }
  }
  .create-checkin-button{
    height: 45px;
  }
  p{
    font-size: 12px;
    font-weight: 100;

  }
}
.container-place-page{
  background-color: #0B0B0F;
  .check-in-container{
    text-align: center;
  }
}

  .icon-batwrap{
    height: 20px;
    background-color: white;
    color: white;
    margin-right: 3px;

  }
.how-many-type-music{
  margin: 5px;
  display: flex;
  text-align: center;
}
