.container-currrent-user {
  margin-top:20px;
  text-align: center;
  color: white;
 }


a {
color: $purple;
 }

 .d-flex .flex-row-reverse .db-highlight {
  margin-top: 40px;
  }

.name {
  font-size: 30px;
 }



