.container-currrent-user {
  margin-top:20px;
  text-align: center;
  color: white;
 }


a {
color: $purple;
 }

p {
  font-weight: bolder;
  text-align: center;
  margin: 0;

 }


 .d-flex .flex-row-reverse .db-highlight {
  margin-top: 40px;
  }

.name {
  font-size: 30px;
 }

.avatar-list {
  margin-right: 10px;

 }
.follow-list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: black;
  padding: 8px 16px;
  color:white;
  border: 1px solid rgb(235,235,235);
}

.name-list {
  font-size:10px;
  color: gray;
 }



.follow-button a{
  margin-left: 130px;
  border: 3px solid white;
  color: white;
  padding: 5px;
  border-radius: 5px;
 }






