.container {
  margin-top:20px;
  text-align: center;
  color: white;
 }


a {
color: $purple;
 }

p {
  font-weight: bolder;
  text-align: center;
  margin: 0;

 }

.checkin {
  text-align: center;
 }

 .d-flex .flex-row-reverse .db-highlight {
  margin-top: 40px;
  }

.name {
  font-size: 30px;
 }

.checkin .checkin-infos {
    padding: 5px;
    background: gray;
    margin: auto;
}



