

<div class="container">

<h1>Welcome to BarWrap</h1>


<p> We’ve put together a way for you to get a live feed on bars and clubs near you! No more wondering where to go for a good time! We tailor bars based on YOU!</p>
</div>
