.checkin{
  width: 100%;
  p {
  color: white;
  font-size: 18px;
  margin-left: -14px;

}
  .checkin-comment{
    display: flex;
    a{
      display: contents;
    }
    .check-avatar{
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
  .checkin-location{
    width: 100%;
  }
  .checkin-time{
    opacity: 0.7;
    width: 100px;
    text-align: left;
    margin-left: 15px;

    p{
      font-size: 12px;
      opacity: 0.7;
    }
  }
  .checkin-content{
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    img {
      width: 100%;
      height: auto;
      max-height: 300px;
      border-radius: 6px;
    }
  }
  .dropdown-checkin{
    width: 100%;
    text-align: center;
    .fas{
      color: white;
      font-size: 25px;
      opacity: 0.3;

    }
  }
}

.create-checkin-button{
  .btn-light{
    border-radius: 50%;
  }
}


.checkin h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
tab{
  margin-right: 1em;
}
.snapshot{
  display: none;
}

