.footer{
  position: fixed;
  bottom: 0;

  display: flex;
  background-color: #1C1D23;
  .tab-nav{
    width: 33vw;
    text-align: center;
    height: 40px;
  .fas{
    color: white;
    font-size: 25px;

  }
  }
}
