.mapboxgl-popup {
  max-width: 200px;
  background: gray;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

g {
  fill: #8044E5;
 }
circle {
  fill: white;
}



.mapboxgl-user-location-dot::after {
  background-color:#FF0042;
 }

// .mapboxgl-user-location-dot::before {
//     background-color: white;
//   }
