.mapboxgl-popup {
  max-width: 200px;
  background: gray;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

g {
  fill: #8044E5;
 }
circle {
  fill: white;
}
