<h1>Places#recommended</h1>
<div class="col-sm-12">
  <div class="banner">
    <div class="banner-image">

    </div>
  </div>

<% @most_recent_checkins.each do |checkin| %>
  <p><%=checkin.place.name  %></p>
  <p><%=checkin.place.location  %></p>
  <img src=<%=checkin.place.photo  %>>
<% end %>
</div>
